<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <!-- On peut avoir d'autres méta-données ici -->
  </head>  
  <body>
  <header>

  </header>

</br>
<h2> Que des n° 10 : </h2> </br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/49.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jonathan</h5>
      <p class="card-text">T'sais le gars charismatique qui capte l'attention quand il parle à un groupe, qui a un super sens de la répartie et qui n'a pas peur du ridicule.</p> <p>On a tous connu un gars comme ça, et bien ici c'est pas lui. </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/25.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Killian</h5>
      <p class="card-text">Capable de défaire le lave vaisselle, fait des brassées de lavage tout seul, pli le linge sans bougonner, va porter les poubelles quand le sac est plein... Et vous cherchez encore l'homme parfait ?</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/63.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mahmood</h5>
      <p class="card-text">Champion régionnal en titre de belote en duo mixte.<br/><br/>Recherche activement des partenaires d'entrainement pour jouer avec sa compagne.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/05.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Flo</h5>
      <p class="card-text">Florian, 30 ans. <br/> 1m85 debout, pareil allongé.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/60.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">David</h5>
      <p class="card-text">Arrive à placer "boug" et "nonobstant la conjoncture" dans une même phrase. Sait exactement où se trouve ornicar . Ne croit pas qu'il y ait de bonne ou de mauvaise situation.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/11.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Christopher</h5>
      <p class="card-text">Son plat favori est le magret de canard, il lève la lunette quand il va au WC (et il la rabaisse quand il a terminé), son casier judiciaire est vierge pour le moment.</p>
    </div>
  </div>
</div></br>
<h5> Merci à eux !</h5>

  </body>

</html>