<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <!-- On peut avoir d'autres méta-données ici -->
  </head>
  <body>

    <h1>TEAM VOCAL 1</h1>
      <p>Voici notre super équipe !</p>
      <ul>
        <li>Christopher
        <li>Florian
        <li>Killian
        <li>Ugo
      </ul>
  <p><%= link_to "Retour !", root_path, :class =>"btn btn-secondary" %></p>

  </body>
</html>