<body>
  <p>Vous nous trouverez sur el famoso Discord de THP !</p>
  <p>Toujours connectés, toujours au travail !</p>
  <p><%= link_to "Retour !", root_path, :class =>"btn btn-secondary" %></p>
</body>