<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <!-- On peut avoir d'autres méta-données ici -->
  </head>  
  <body>
  <header>

  </header>

  <p>Vous nous trouverez sur el famoso Discord de THP !</p>
  <p>Toujours connectés, toujours au travail !</p>
 <p><%= link_to "Retour !", root_path, :class =>"btn btn-secondary" %></p>
  </body>
</html>